* {
    padding: 0px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav {
    background-color: #303030;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

.logomarca {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 56px;
    padding-left: 30px;
}

h1 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 3.0rem;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}


section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.fixa {
    flex-direction: column;
    text-align: center;

    padding-left: 20px;
    flex-grow: 1;

}

.layout {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.layout img {
    align-items: center;
    justify-content: center;
    width: 70%;
}

.movel {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none
}



.carousel button {
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 1.0rem;
    padding: 1.0rem 2.5rem;
    cursor: pointer;
}

.subtitle {
    margin-bottom: 2rem;
    max-width: 500px;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;

    color: #265E70;
}

.subtitle strong {
    color: #4dbce9;
    font-weight: 600;
}

button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    background-color: #4DBCE9;
    border-radius: 1.0rem;
    padding: 1.0rem 3.5rem;

    cursor: pointer;

    color: #FFFFFF;
}

h2 {
    font-weight: 400;
    font-size: 2.0rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}

h3 {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 24px;
    margin-top: 10px;

    color: #FFFFFF;


}

li {
    background-color: #4DBCE9BF;
    border-radius: 25px;
    text-align: center;
    padding: 2.0rem;
    align-items: center;
    width: 100%;
    opacity: 10;
    display: none;
}

.on {
    display: block;
}


li span {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;

    background-color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;

    color: #265E70;
}

li img{
    max-width: 350px;
    max-height: 60%;
}

.card{
    width: 400px;
    height: 390px;
}